name: Continuous integration
on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch: # allows manual triggering
env:
  # Bump this number to invalidate the GH actions cache
  cache-version: 0

jobs:
  build:
    strategy:
      matrix:
        ghc: ['9.0.2', '9.2.2', '9.2.7', '9.4.4', '9.6.1']
        cabal: ['3.4.1.0', '3.6.2.0', '3.8.1.0', '3.10.1.0']
        os: ['ubuntu-latest', 'macos-latest']
        exclude:
          - cabal: '3.4.1.0'
            ghc: '9.2.2'
          - cabal: '3.8.1.0'
            ghc: '9.2.2'
          - cabal: '3.10.1.0'
            ghc: '9.2.2'
          # Cabal 3.4.1.0 supports GHC version < 9.1
          - cabal: '3.4.1.0'
            ghc: '9.2.7'
          - cabal: '3.4.1.0'
            ghc: '9.4.4'
          - cabal: '3.4.1.0'
            ghc: '9.6.1'
          # Cabal 3.6.2.0 supports GHC version < 9.4
          - cabal: '3.6.2.0'
            ghc: '9.4.4'
          - cabal: '3.6.2.0'
            ghc: '9.6.1'
    runs-on: ${{ matrix.os }}
    name: platform ${{ matrix.os }} GHC ${{ matrix.ghc }} cabal ${{ matrix.cabal }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Haskell
        id: setup-haskell
        uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - name: Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.setup-haskell.outputs.cabal-store }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ github.sha }}
          restore-keys: ${{ runner.os }}-${{ matrix.ghc }}-

      - name: Update cabal package list
        run: cabal update

      - name: Build dependencies
        run: cabal build --only-dependencies

      - name: Build
        run: cabal build -f errors

      - name: Test on current dependencies
        run: cabal test

      - name: Test on most recent dependencies
        run: cabal test --index-state HEAD

      - name: Test on oldest dependencies
        if: matrix.cabal == '3.10.1.0'
        run: cabal test --prefer-oldest

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check code formatting
        uses: fourmolu/fourmolu-action@v6
